{% load static %}<!-- load static file -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %} Admin Dashboard {% endblock %}</title>
  <link rel="stylesheet" href="{% static 'main.css' %}"> <!-- Static file path best practice -->
  <style>
    body {
      display: flex;
      font-family: Arial, Helvetica, sans-serif;
      margin: 0;
    }

    .sidebar a {
      /* color: white; */
      text-decoration: none;
      display: block;
      padding: 10px;
    }

    .sidebar a:hover {
      background-color: #555;
    }

    .main-content {
      flex-grow: 1;
      padding: 20px;
    }

    .navbar {
      background: #007bff;
      color: white;
      text-align: center;
    }
  </style>
</head>

<body>
  {% include "dashboard/dashboard_sidebar.html" %}

  <div class="main-content">
    <div class="navbar">
      <h2>{% block header %} Dashboard {% endblock %}</h2>

      <div>
        {% block content %}

        {% endblock %}
      </div>
    </div>
  </div>

  {% include "dashboard/dashboard_footer.html" %}
</body>

</html>